<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020172363673-52igb6ci8kj80kb3n0mg447ntcn0181a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020172363673-52igb6ci8kj80kb3n0mg447ntcn0181a</string>
	<key>API_KEY</key>
	<string>AIzaSyBQXAYspcK7DlU_6Ls01OKhV055PB7dLP8</string>
	<key>GCM_SENDER_ID</key>
	<string>1020172363673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>polochanin.alexander.Firebase-Sample</string>
	<key>PROJECT_ID</key>
	<string>fir-sample-bddd4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sample-bddd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020172363673:ios:ffc008e470241bee029508</string>
</dict>
</plist>